@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
    font-family: "Manrope", sans-serif;
}

:root {
    --bs-primary: #EC601D !important;
    --bs-primary-bg: #EC601D !important;
    --bs-secondary: #271B45 !important;
    --bs-gray: #DCDADE !important;
    --bs-gray-bg: #F9F8F9 !important;
    --bs-dark-gray: #70677C !important;
    --bs-light-gray:#8F8D91 !important;
    --bs-danger-light: #DB105B !important;
    --bs-danger-bgpink: #DB105B !important;
    --bs-danger-border: #F46C83 !important;
    --bs-warning: #EAB308 !important;
    --bs-orange-bg: #FEF1DC !important;
    --bs-rounded-4: 12px;
    --bs-light-pink: #F3F1F4 !important;
    --bs-lightpink-bg: #FDDEDA !important;
    --bs-fs-6:14px;
    --bs-gray-border: #DCDADE !important;
}

.danger-bgpink{
    background-color: var(--bs-danger-bgpink);
}

.light-pink{
    color: var(--bs-light-pink);
}

.lightpink-bg{
    background-color: var(--bs-lightpink-bg);
}
.primary-bg{
    background-color: var(--bs-primary-bg);
}

.gray-border{
    border-color: var(--bs-gray-border) !important;
}

.orange-bg{
    background-color: var(--bs-orange-bg);
}

.warning{
    color: var(--bs-warning);
}

.light-gray{
    color: var(--bs-light-gray);
}

.rounded-4{
    border-radius: var(--bs-rounded-4);
}

.primary {
    color: var(--bs-primary);
}

.secondary {
    color: var(--bs-secondary);
}

.gray {
    color: var(--bs-gray);
}

.gray-bg {
    background-color: var(--bs-gray-bg);
}

.dark-gray {
    color: var(--bs-dark-gray);
}

.danger-light {
    color: var(--bs-danger-light);
}

.danger-border {
    border-color: var(--bs-danger-border) !important;
}

.fs-6{
    font-size: var(--bs-fs-6) !important;
}
/* ******** city list page css start ********* */

/* Cover Section: CSS START */
.section--cover {
    background-image: url(../img/header_img.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 7rem 0;
}

.cover-overlay {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.cover-content input{
    border-radius: 8px !important;
}

.cover-content__text{
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .cover-content__text{
        font-size: 36px;
        font-weight: 800;
        text-align: center;
    }   
}

.serch-icon{
    right: 20px;
}

.serch-icon i.bi::before{
    font-weight: 700 !important;
}

.form-control:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-group>.form-control:focus {
    z-index: auto;
}

.input-wrapper{
    width: 40%;
}

.input--search{
    padding: 0.75rem 1rem;
}

.input--search::placeholder{
    color: #271B45;
}

@media only screen and (max-width: 768px) {
    .section--cover {
        background-image: url(../img/moblie--cover.png);
        padding: 5rem 0;
    }
}

@media only screen and (max-width: 575px) {
    .input-wrapper {
        width: auto !important;
    }
}
/* Cover Section: CSS END */


/* Best Places Section: CSS START */
.place-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 63.12%, rgba(0, 0, 0, 0.7) 100%);
    display: none;
}

.common-card {    
    margin: 0 12px;
    position: relative;
    overflow: hidden;
}

.common-card::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 63.12%, rgba(0, 0, 0, 0.7) 100%);
}

.common-card.common-card--link::after{
    display: none;
}

.common-card:hover .common-card__title{
    color: var(--bs-primary);
}

.common-title{
    font-size: 28px;
    padding-left: 11px;
    font-weight: 700;
    margin: 0;
}

.nav-tabs.place-tabs .nav-link{
    padding: 0px;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}

.place-tabs .nav-item.slick-current .nav-link{
    color: #EC601D;
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
}

.place-tabs .nav-link.active {
    border: none;
}

.place-tabs .nav-link:focus,
.place-tabs .nav-link:hover {
    border-color: transparent;
    color: #EC601D;
}

.common-card__media{
    padding-bottom: 56.25%;
    overflow: hidden;
}

.common-card__media.common-card__media-75{
    padding-bottom: 75%;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}

.common-card__title{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding: 10px 15px;
    margin: 0px;
    color: #fff;
    z-index: 10;
}

.common-card__image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visited--city{
    margin-top: 4rem;
}

/* Breadcrumb section : CSS Start */
.section--breadcrumb{
    background-color: #F9F8F9;
    border-bottom: 1px solid #F3F1F4;
}

.breadcrumb-content{
    padding: 12px 0;
    margin: 0;
}

.breadcrumb-content a{
    text-decoration: none;
    color: #271B45;
    font-size: 16px;
    font-weight: normal;
}

.breadcrumb-item.active::before{
    content: '>'
}

.breadcrumb-item.active a{
    color: #EC601D;
    font-weight: 700;
}
/* Breadcrumb section : CSS End */

ul.slick-dots{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0px;
    padding: 0;
    margin: 20px;
    list-style: none;
}

.slick-dots li button{
    padding: 0;
    height: 8px;
    width: 8px;
    border: none;
    background-color: #c5c5c5;
}

.slick-dots li.slick-active button{
    background-color: #EC601D;
}

/* Best Places Section: CSS END */
.visited--city__text{
    font-size: 30px;
    font-weight: 700;
    padding-left: 12px;
}

button{
    border: none;
    background: transparent;
    border: 1px solid grey;
    border-radius: 50%;
}

.places-slider .slick-prev,
.places-slider .slick-next{
    position: absolute;
    color: grey;
    top: -45px;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.places-slider .slick-prev{
    right: 60px;
}

.places-slider .slick-next{
    right: 10px;
}

.slick-next i.bi::before, 
.slick-prev i.bi::before{
    font-weight: 800 !important;
}

.slick-prev:hover, 
.slick-next:hover{
    color: #EC601D;
}

button:hover {
    border: 1px solid #EC601D;
}

.asia-wrapper__text{
    font-size: 36px;
    font-weight: 800;
}

/* Discover Asia Section: CSS START */
li::marker {
    color: #70677C;
}

a.asia-link:hover {
    color: #EC601D;
}

.show__more .common-card__image{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show__more:hover{
    background-color: #FDDEDA;
    border-color: transparent !important;
}

.custom-dropdown .custom-dropdown__label{
    display: none;
}

.fix-content{
    flex: 0 0 700px;
    max-width: 700px;
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}

@media only screen and (max-width:1024px){
    .fix-content{
        flex: 1;
    }
    .custom-dropdown{
        display: inline-block;
    }
    .custom-dropdown .place-tabs{
        display: none;
    }
    .custom-dropdown .custom-dropdown__label{
        display: flex;
        background-color:transparent;
        font-size: 18px;
        color: var(--bs-primary);
        border: none;
        font-weight: 700;
        padding: 0px 10px;
        margin-left: 0px;
        text-transform: uppercase;
    }
    .common-card{
        margin: 0 6px;
    }
    .common-title{
        font-size: 18px;
    }
    .custom-dropdown{
        position: relative;
    }
    .place-tabs{
        position: absolute;
        top: 35px;
        right: 0px;
    }
    .custom-dropdown.is-active .place-tabs{
        display: block;
        padding: 10px;
        border: 1px solid #eaeaea;
        z-index: 100;
        background-color: #fff;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
    .nav-tabs.place-tabs .nav-link{
        font-size: 14px;
        padding: 5px 15px;
    }
    .visited--city__text{
        font-size: 18px;
        padding-left: 6px;
    }
    .asia-wrapper__text{
        font-size: 24px;
        font-weight: 700;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .show__more .common-card__image{
        font-size: 14px;
        font-weight: 600;
    }
}

@media only screen and (max-width:768px){
    .common-card__title{
        font-size: 18px;
    }    
}

@media only screen and (max-width: 375px){
    .places-slider .slick-prev,
    .places-slider .slick-next{
        top: -40px;
        width: 32px;
        height: 32px;
    }

    .places-slider .slick-prev{
        right: 50px;
    }
}

@media only screen and (max-width: 320px){
    .common-card__title{
        font-size: 16px;
        padding: 6px 10px;
    }
}

/* Discover Asia Section: CSS END */

/* ******** city list page CSS END ********* */



/* ******** city detail page css start ********* */

/* first section css start */
.section--city{
    background-image: url(../img/dubai_cover.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 7rem 0;
}

.cover-card__title{
    font-size: 48px;
    color: #fff;
    font-weight: 800;
}

.cover-card__text{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* second section css start  */
.detail-wrap{
    margin-top: -5rem;
}

.heart-icon i.bi-heart::before{
    font-weight: 700 !important;
    font-size: 30px;
}

.user-icon i.bi-person-check::before{
    font-weight: 700 !important;
    font-size: 25px;
}
/* section--faq css start */

/* faqs */
.faq__wrapper .accordion-button:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}
.faq__wrapper .accordion-button:not(.collapsed) {
    color: var(--bs-primary);
    border-radius: 12px;
    background-color: #fff;
    box-shadow: none;
}
.faq__wrapper .accordion-item:first-of-type,
.faq__wrapper .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
.faq__wrapper .accordion-item:last-of-type,
.faq__wrapper .accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}
.accordion-button:not(.collapsed)::after {
    transform: none;
    content: "\F63B";
    font-family: bootstrap-icons !important;
    font-weight: 700 !important;
    -webkit-font-smoothing: antialiased;
    background-image: none;
    color: var(--bs-primary);
}
.accordion-button::after{
    background-image: none;
    content: "\F64D";
    font-family: bootstrap-icons !important;
    font-weight: 700 !important;
    -webkit-font-smoothing: antialiased;
    color: var(--bs-secondary);
}

.know__icon .bi-cloud::before,
.know__icon .bi-cash::before,
.know__icon .bi-clock::before {
    font-weight: 700 !important;
    color: var(--bs-dark-gray);
    font-size: 40px;
}

button.slick-arrow.slider--arrow {
    background-color: transparent;
    border: 1px solid var(--bs-gray-border);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .5s;
    position: absolute;
    right: 20px;
    bottom: -40px;
}
button.slick-prev.slider--arrow.slick-arrow {
    right: 85px;
}
button.slick-arrow:hover i{
    color: var(--bs-primary);
}

.hotel-card--media {
    padding-bottom: 100%;
}
.common-card.hotel--card::after{
    display: none;
}
.hotel-rate__number{
    border-radius: 8px;
    padding: 12px 12px;
}