@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
    font-family: "Manrope", sans-serif;
}

:root {
    --bs-primary: #EC601D !important;
    --bs-primary-bg: #EC601D !important;
    --bs-primary-border: #EC601D !important;
    --bs-secondary: #271B45 !important;
    --bs-gray: #DCDADE !important;
    --bs-gray-bg: #F9F8F9 !important;
    --bs-dark-gray: #70677C !important;
    --bs-light-gray:#8F8D91 !important;
    --bs-gray500-border:#8F8D91 !important;
    --bs-danger-light: #DB105B !important;
    --bs-danger-bgpink: #DB105B !important;
    --bs-danger-border: #F46C83 !important;
    --bs-warning: #EAB308 !important;
    --bs-orange-bg: #FEF1DC !important;
    --bs-rounded-4: 12px;
    --bs-gray-200: #F3F1F4 !important;
    --bs-lightpink-bg: #FDDEDA !important;
    --bs-fs-6:14px;
    --bs-gray-border: #DCDADE !important;
}
.primary-border{
    border-color: var(--bs-primary-border) !important;
}
.danger-bgpink{
    background-color: var(--bs-danger-bgpink);
}
.gray-200{
    color: var(--bs-gray-200);
}

.lightpink-bg{
    background-color: var(--bs-lightpink-bg);
}
.primary-bg{
    background-color: var(--bs-primary-bg);
}

.gray-border{
    border-color: var(--bs-gray-border) !important;
}

.orange-bg{
    background-color: var(--bs-orange-bg);
}

.warning{
    color: var(--bs-warning);
}

.light-gray{
    color: var(--bs-light-gray);
}

.rounded-4{
    border-radius: var(--bs-rounded-4) !important;
}

.primary {
    color: var(--bs-primary);
}

.secondary {
    color: var(--bs-secondary) !important;
}

.gray {
    color: var(--bs-gray);
}

.gray-bg {
    background-color: var(--bs-gray-bg);
}

.dark-gray {
    color: var(--bs-dark-gray);
}

.danger-light {
    color: var(--bs-danger-light);
}

.danger-border {
    border-color: var(--bs-danger-border) !important;
}

.fs-6{
    font-size: var(--bs-fs-6) !important;
}
/* ******** city list page css start ********* */

/* Cover Section: CSS START */
.section--cover {
    background-image: url(../img/header_img.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 7rem 0;
}

.cover-overlay {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.cover-content input{
    border-radius: 8px !important;
}

.cover-content__text{
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .cover-content__text{
        font-size: 36px;
        font-weight: 800;
        text-align: center;
    }   
}

.serch-icon{
    right: 15px;
}

.serch-icon i.bi::before{
    font-weight: 700 !important;
}

.form-control:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-group>.form-control:focus {
    z-index: auto;
}

.input-wrapper{
    width: 40%;
}

.input--search{
    padding: 0.75rem 1rem;
}

.input--search::placeholder{
    color: #271B45;
}

@media only screen and (max-width: 768px) {
    .section--cover {
        background-image: url(../img/moblie--cover.png);
        padding: 5rem 0;
    }
}

@media only screen and (max-width: 575px) {
    .input-wrapper {
        width: auto !important;
    }
}
/* Cover Section: CSS END */


/* Best Places Section: CSS START */
.place-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 63.12%, rgba(0, 0, 0, 0.7) 100%);
    display: none;
}

.common-card {    
    margin: 10px 12px;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    border-radius:12px;
}

.common-card__media::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 63.12%, rgba(0, 0, 0, 0.7) 100%);
}

.common-card.common-card--link::after{
    display: none;
}

.common-title{
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.nav-tabs.place-tabs .nav-link{
    padding: 0px;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}

.place-tabs .nav-item.slick-current .nav-link{
    color: #EC601D;
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
}

.place-tabs .nav-link.active {
    border: none;
}

.place-tabs .nav-link:focus,
.place-tabs .nav-link:hover {
    border-color: transparent;
    color: #EC601D;
}

.common-card:hover .common-card__image{
    transform: scale(1.2);
    transition:all 0.3s;
}

.common-card__media{
    padding-bottom: 56.25%;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    border-radius: 12px;
}

.common-card__media.common-card__media-75{
    padding-bottom: 75%;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}

.common-card__title{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding: 10px 15px;
    margin: 0px;
    color: #fff;
    z-index: 10;
}

.common-card__image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:all 0.3s;
}

.visited--city{
    margin-top: 4rem;
}

/* Breadcrumb section : CSS Start */
.section--breadcrumb{
    background-color: #F9F8F9;
    border-bottom: 1px solid #F3F1F4;
}

.breadcrumb-content{
    padding: 12px 0;
    margin: 0;
}

.breadcrumb-content a{
    text-decoration: none;
    color: #271B45;
    font-size: 16px;
    font-weight: normal;
}

.breadcrumb-item.active::before{
    content: '>'
}

.breadcrumb-item.active a{
    color: #EC601D;
    font-weight: 700;
}
/* Breadcrumb section : CSS End */

ul.slick-dots{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0px;
    padding: 0;
    margin: 20px;
    list-style: none;
}

.slick-dots li button{
    padding: 0;
    height: 8px;
    width: 8px;
    border: none;
    background-color: #c5c5c5;
}

.slick-dots li.slick-active button{
    background-color: #EC601D;
}

/* Best Places Section: CSS END */
.visited--city__text{
    font-size: 30px;
    font-weight: 700;
}

button{
    border: none;
    background: transparent;
    border: 1px solid grey;
    border-radius: 50%;
}

.places-slider{
    margin: 0 -10px;
}

.places-slider .slick-prev,
.places-slider .slick-next{
    position: absolute;
    color: grey;
    top: -60px;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.places-slider .slick-prev{
    right: 60px;
}

.places-slider .slick-next{
    right: 10px;
}

.slick-next i.bi::before, 
.slick-prev i.bi::before{
    font-weight: 800 !important;
}

.slick-prev:hover, 
.slick-next:hover{
    color: #EC601D;
    border: 1px solid #EC601D;
}

.asia-wrapper__text{
    font-size: 36px;
    font-weight: 800;
}

/* Discover Asia Section: CSS START */
li::marker {
    color: #70677C;
}

a.asia-link:hover {
    color: #EC601D;
}

.show__more.common-card__media::after{
    display: none;
}

.show__more .common-card__image{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show__more:hover{
    background-color: #FDDEDA;
    border-color: transparent !important;
}

.custom-dropdown .custom-dropdown__label{
    display: none;
}

.fix-content{
    flex: 0 0 700px;
    max-width: 700px;
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}

@media only screen and (max-width:1024px){
    .fix-content{
        flex: 1;
    }
    .custom-dropdown{
        display: inline-block;
    }
    .custom-dropdown .place-tabs{
        display: none;
    }
    .custom-dropdown .custom-dropdown__label{
        display: flex;
        background-color:transparent;
        font-size: 18px;
        color: var(--bs-primary);
        border: none;
        font-weight: 700;
        padding: 0px 10px;
        margin-left: 0px;
        text-transform: uppercase;
    }  
    .places-slider{
        margin: 0 -8px;
    }
    .common-card{
        margin: 10px 6px;
    }
    .common-title{
        font-size: 18px;
    }
    .custom-dropdown{
        position: relative;
    }
    .place-tabs{
        position: absolute;
        top: 35px;
        right: 0px;
    }
    .custom-dropdown.is-active .place-tabs{
        display: block;
        padding: 10px;
        border: 1px solid #eaeaea;
        z-index: 100;
        background-color: #fff;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
    .nav-tabs.place-tabs .nav-link{
        font-size: 14px;
        padding: 5px 15px;
    }
    .visited--city__text{
        font-size: 18px;
    }
    .asia-wrapper__text{
        font-size: 24px;
        font-weight: 700;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .show__more .common-card__image{
        font-size: 14px;
        font-weight: 600;
    }
}

@media only screen and (max-width:768px){
    .common-card__title{
        font-size: 18px;
    } 
    ul.slick-dots{
        margin: 12px;
    }
}

@media only screen and (max-width: 375px){
    .places-slider .slick-prev,
    .places-slider .slick-next{
        top: -40px;
        width: 32px;
        height: 32px;
    }

    .places-slider .slick-prev{
        right: 50px;
    }
}

@media only screen and (max-width: 320px){
    .common-card__title{
        font-size: 16px;
        padding: 6px 10px;
    }
}

/* Discover Asia Section: CSS END */

/* ******** city list page CSS END ********* */



/* ******** city detail page css start ********* */

/* City Section css START */
.section--city{
    background-image: url(../img/dubai_cover.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 7rem 0;
}

.cover-card__title{
    font-size: 48px;
    color: #fff;
    font-weight: 800;
}

.cover-card__text{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
/* City Section css END */

/* Detail Section css START  */
.detail-wrap{
    margin-top: -5rem;
}

.heart-icon i.bi-heart::before{
    font-weight: 700 !important;
    font-size: 30px;
}

.user-icon i.bi-person-check::before{
    font-weight: 700 !important;
    font-size: 25px;
}
/* Detail Section css END  */

/* Top Hotels Details Section CSS START */
.hotel-card--media {
    padding-bottom: 100%;
}
.common-card.hotel--card::after{
    display: none;
}
.hotel-rate__number{
    border-radius: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}
.hotel-reviews__comment {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--bs-secondary);
}
.hotel-reviews__number{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: var(--bs-light-gray);
    margin: 0;
}
span.hotel-type {
    font-size: 12px;
    line-height: 14px;
    padding: 4px 10px;
    border-radius: 30px;
    color: var(--bs-danger-light);
    background-color: var(--bs-lightpink-bg);
}
/* Top Hotels Details Section CSS END */

/* Explore and Book filter CSS START */
.search__icon{
    left: 6%;
    bottom: 30%;
}

.search__icon i.bi::before{
    font-weight: 700 !important;
}

.input-field::placeholder{
    color: var(--bs-light-gray);
    font-weight: 400;
    font-size: var(--bs-fs-6);
}

.input-group input[type='search']:focus::placeholder{
    color: transparent;
}

.explore-sidebar__accordion .accordion-button:not(.collapsed){
    box-shadow: none;
    border-bottom: 1px solid var(--bs-gray-200);
}
.explore-sidebar__accordion .accordion-button::after{
    filter: grayscale(1) brightness(0.5);
}
.radio__group  input[type="radio"],
.checkbox-group input[type="checkbox"] {
    opacity: 0;
}

.radio__group label
.checkbox-group label {
    cursor: pointer;
    position: relative;
}
.radio__group [type="radio"]:checked,
.radio__group [type="radio"]:not(:checked),
.checkbox-group [type="checkbox"]:checked,
.checkbox-group [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio__group [type="radio"]:checked + label,
.radio__group [type="radio"]:not(:checked) + label,
.checkbox-group [type="checkbox"]:checked + label,
.checkbox-group [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
.radio__group [type="radio"]:checked + label:before,
.radio__group [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--bs-gray500-border);
    border-radius: 100%;
    background: #fff;
}
.radio__group [type="radio"]:checked + label:before{
    border-color: var(--bs-primary-border);
}
.radio__group [type="radio"]:checked + label:after,
.radio__group [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--bs-primary-bg);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio__group [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio__group [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.checkbox-group [type="checkbox"]:checked + label:before,
.checkbox-group [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--bs-gray500-border);
    background: #fff;
}
.checkbox-group [type="checkbox"]:checked + label:before{
    border-color: transparent;
}
.checkbox-group [type="checkbox"]:checked + label:after,
.checkbox-group [type="checkbox"]:not(:checked) + label:after {
    content: '\F271';
    font-size: 20px;
    position: absolute;
    top: -2px;
    left: 0px;
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-weight: 700;
    color: #EC601D;
    vertical-align: -0.125em;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.checkbox-group [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.checkbox-group [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.clear-icon .bi-x::before {
    font-size: 24px;
    font-weight: 700 !important;
}
.explore-clear__btn:hover{
    background-color: var(--bs-primary-bg);
    border-color: transparent;
    color: #fff;
}
.explore-clear__btn:hover .clear-icon>i{
    color: #fff;
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus{
    box-shadow: none;
    outline: none;
    border: 0;
    color: var(--bs-light-gray);
}
.btn-secondary:hover{
    color: var(--bs-light-gray);
}
.btn-secondary:active:focus{
    box-shadow: none;
}
.filter-header__show>a:hover ,
.filter-header__show>a:hover i.bi-x{
    color: var(--bs-secondary);
}

.dropdown-toggle::after {
    margin-left: 1.2em;
    content: "\F282";
    border: none;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    color: var(--bs-secondary);
    font-weight: 700 !important;
    -webkit-font-smoothing: antialiased;
}  
.dropdown-item.active, 
.dropdown-item:active,
.dropdown-item:focus, 
.dropdown-item:hover {
    color: var(--bs-primary);
    text-decoration: none;
    background-color: #fff;
}
.dropdown-item:hover label{
    color: var(--bs-primary) !important;
}
.pagination-link.active{
    color: var(--bs-secondary);
}
.pagination-link{
    color: var(--bs-light-gray);
}
.explore-pagination__item .pagination--btn{
    padding: 12px;
}
.pagination__arrow>i.bi::before{
    font-weight: 700 !important;
    font-size: 24px;
}
.pagination-number--list{
    padding: 12px 30px;
}
/* Explore and Book filter END START */



/* Know more Section CSS START */
.know__icon .bi-cloud::before,
.know__icon .bi-cash::before,
.know__icon .bi-clock::before {
    font-weight: 700 !important;
    color: var(--bs-dark-gray);
    font-size: 40px;
}
.know-more__text{
    color: var(--bs-secondary);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
/* Know more Section CSS END */

/* FAQs Section css START */
/* faqs */
.faq__wrapper .accordion-button:focus,
.explore-sidebar__accordion .accordion-button:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}
.faq__wrapper .accordion-button:not(.collapsed) {
    color: var(--bs-primary) !important;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: none;
}
.faq__wrapper .accordion-item:first-of-type,
.faq__wrapper .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
.faq__wrapper .accordion-item:last-of-type,
.faq__wrapper .accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}
.faq__wrapper .accordion-button:not(.collapsed)::after {
    transform: none;
    content: "\F63B";
    font-family: bootstrap-icons !important;
    font-weight: 700 !important;
    -webkit-font-smoothing: antialiased;
    background-image: none;
    color: var(--bs-primary);
}
.faq__wrapper .accordion-button::after{
    background-image: none;
    content: "\F64D";
    font-family: bootstrap-icons !important;
    font-weight: 700 !important;
    -webkit-font-smoothing: antialiased;
    color: var(--bs-secondary);
}
/* FAQs Section css END */


/* Slider arrows CSS START */
button.slick-arrow.slider--arrow {
    background-color: transparent;
    border: 1px solid var(--bs-gray-border);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .5s;
    position: absolute;
    right: 20px;
    bottom: -40px;
}
button.slick-prev.slider--arrow.slick-arrow {
    right: 85px;
}
button.slick-arrow:hover i{
    color: var(--bs-primary);
}
/* Slider arrows CSS END */


/* ******** city detail page media query css start ********* */
@media only screen and (max-width:991px){
    .search__icon{
        left: auto;
        right: 5%;
        bottom: 23%;
    }
    .explore-sidebar__input input.form-control {
        padding: 10px 12px !important;
    }
    .sorting--btn{
        font-size: 0;
        width: auto !important;
        padding: 0 !important;
        max-width: 44px !important;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sorting-icon{
        font-size: 24px;
    }
    .dropdown.sort--dropdown,
    .explore-filter--dropdown {
        width: 44px;
        height: 44px;
    }
    .filter-header__show {
        order: 3;
        margin: 1rem 0 0;
    }
    .map-iframe {
        flex: 0 0 50%;
    }
}
@media only screen and (max-width:575px){
    .cover-card__text{
        font-size: 14px;
        text-align: left;
        line-height: 19px;
    }
    .section--city{
        padding: 5rem 0;
    }
    .uae__row{
        display: flex;
        margin: 1rem 0 0;
    }
    .know__icon{
        margin-right: 1rem;
    }
    .cover-card__title{
        font-size: 30px;
    }
}
@media only screen and (max-width:425px){
    .map-iframe {
        flex: auto;
        width: 167px;
        height: 135px;
    }
    .map-iframe .dubai-map__iframe{
        height: 100%;
    }
    .hotel__info>a {
        font-size: 16px !important;
        margin-bottom: 8px;
    }
    .hotel-card--media span {
        font-size: 12px !important;
        font-weight: 400 !important;
    }
    .uae-visit__month{
        font-size: 16px !important;
    }
    .uae-visit__event{
        font-size: 12px !important;
    }  
    .know-more__text{
        font-size: 12px;
        line-height: 16px;
    }
   .faq__wrapper .accordion-button{
        font-size: 16px !important;
    } 
   .faq__wrapper .accordion-body{
        font-size: 14px !important;
    } 
    .uae-row--details{
        font-size: 16px !important;
    }
}